<%- include('partials/header') %>

<div class="tabs">
  <button class="tab-button active" data-tab="cadastrais">1. Informações Cadastrais</button>
  <button class="tab-button" data-tab="historico">2. Histórico Clínico</button>
  <button class="tab-button" data-tab="habitos">3. Hábitos e Sintomas</button>
  <button class="tab-button" data-tab="dores">4. Dores e Enfermidades</button>
  <button class="tab-button" data-tab="psicossocial">5. Saúde Psicossocial</button>
  <button class="tab-button" data-tab="sono">6. Sono e Estilo de Vida</button>
  <button class="tab-button" data-tab="finalizacao">7. Assinatura e Finalização</button>
</div>

<form>
  <div id="cadastrais" class="tab-content active">
    <label>Nome completo:</label>
    <input type="text" name="nome">

    <label>Data de nascimento:</label>
    <input type="date" name="data_nascimento">

    <label>Endereço:</label>
    <input type="text" name="endereco">

    <label>Bairro:</label>
    <input type="text" name="bairro">

    <label>Cidade:</label>
    <input type="text" name="cidade">

    <label>Estado:</label>
    <input type="text" name="estado">

    <label>CEP:</label>
    <input type="text" name="cep">

    <label>Telefone celular:</label>
    <input type="text" name="telefone_cel">

    <label>Telefone residencial:</label>
    <input type="text" name="telefone_res">

    <label>Telefone do trabalho:</label>
    <input type="text" name="telefone_trab">

    <label>E-mail:</label>
    <input type="email" name="email">

    <label>CPF:</label>
    <input type="text" name="cpf">

    <label>Profissão:</label>
    <input type="text" name="profissao">

    <label>Empresa:</label>
    <input type="text" name="empresa">

    <label>Sexo:</label>
    <select name="sexo">
      <option value="">Selecione</option>
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
      <option value="outro">Outro</option>
    </select>

    <label>Grau de escolaridade:</label>
    <input type="text" name="escolaridade">

    <label>Nome do cônjuge:</label>
    <input type="text" name="conjuge">

    <label>Número de filhos:</label>
    <input type="number" name="numero_filhos">

    <label>Profissão do cônjuge:</label>
    <input type="text" name="profissao_conjuge">

    <label>Responsável (se menor de 18 anos):</label>
    <input type="text" name="responsavel">

    <label>Telefone do responsável:</label>
    <input type="text" name="telefone_responsavel">

    <label>Situação atual de trabalho:</label>
    <select name="situacao_trabalho">
      <option value="">Selecione</option>
      <option>Tempo integral</option>
      <option>Tempo parcial</option>
      <option>Aposentado</option>
      <option>Afastado</option>
      <option>Trabalha em casa</option>
      <option>Desempregado</option>
      <option>Estudante integral</option>
      <option>Estudante parcial</option>
    </select>

    <label>Estado Civil:</label>
    <select name="estado_civil">
      <option value="">Selecione</option>
      <option>Solteiro</option>
      <option>Separado</option>
      <option>Casado</option>
      <option>2º Casamento</option>
      <option>Viúvo</option>
      <option>Outros</option>
    </select>

    <label>Dentista da família (Nome):</label>
    <input type="text" name="dentista_nome">

    <label>Telefone do dentista:</label>
    <input type="text" name="dentista_telefone">
  </div>

  <div id="historico" class="tab-content">
    <label>Quem indicou você?</label>
    <input type="text" name="quem_indicou">

    <label>Endereço do indicador:</label>
    <input type="text" name="endereco_indicador">

    <label>Telefone do indicador:</label>
    <input type="text" name="telefone_indicador">
    <br><br>
    <fieldset>
      <legend>Profissionais de saúde consultados</legend>

      <label>Nome do profissional:</label>
      <input type="text" name="profissional_nome_1">

      <label>Especialidade:</label>
      <input type="text" name="especialidade_1">

      <label>Endereço:</label>
      <input type="text" name="endereco_prof_1">

      <label>Telefone:</label>
      <input type="text" name="telefone_prof_1">

      <label>Diagnóstico e tratamento:</label>
      <textarea name="diagnostico_1"></textarea>

      <button type="button" onclick="adicionarProfissional()">Adicionar outros</button>
    </fieldset>

    <label>Queixa principal:</label>
    <textarea name="queixa_principal"></textarea>

    <label>Queixa secundária:</label>
    <textarea name="queixa_secundaria"></textarea>

    <label>Outras queixas:</label>
    <textarea name="outras_queixas"></textarea>

    <label>História médica:</label>
    <textarea name="historia_medica"></textarea>

    <label>Medicação atual e doses:</label>
    <textarea name="medicacao_atual"></textarea>

    <label>Medicação passada e doses:</label>
    <textarea name="medicacao_passada"></textarea>

    <label>Histórico familiar:</label>
    <textarea name="historico_familiar"></textarea>

    <label>Alergias (remédios, alimentos, outros):</label>
    <textarea name="alergias"></textarea>

    <label>Resultados de exames por imagem (relacionados ao problema):</label>
    <textarea name="exames_imagem"></textarea>
  </div>

  <div id="habitos" class="tab-content">
    <fieldset>
      <legend>Hábitos</legend>
      <input type="checkbox" name="habitos[]" value="morder_unhas"> <span>Morder unhas</span><br>
      <input type="checkbox" name="habitos[]" value="mascar_chicletes"> <span>Mascar chicletes</span><br>
      <input type="checkbox" name="habitos[]" value="uso_telefone"> <span>Uso contínuo de telefone</span><br>
      <input type="checkbox" name="habitos[]" value="morder_objetos"> <span>Morder objetos</span><br>
      <input type="checkbox" name="habitos[]" value="uso_computador"> <span>Uso contínuo de computador</span><br>
      <input type="checkbox" name="habitos[]" value="morder_labios"> <span>Morder lábios, língua ou bochechas</span><br>
      <input type="checkbox" name="habitos[]" value="ficar_em_pe"> <span>Alta permanência na posição de pé</span><br>
      <input type="checkbox" name="habitos[]" value="ficar_sentado"> <span>Alta permanência na posição sentada</span><br>

    </fieldset>
    <br><br>
    <fieldset>
      <legend>Sintomas (lado direito/esquerdo)</legend>
      <label>Dores de cabeça frequentes:
        <input type="checkbox" name="cefaleia_d" value="direito"> D
        <input type="checkbox" name="cefaleia_e" value="esquerdo"> E
      </label>
      <label>Dor facial:
        <input type="checkbox" name="dor_facial_d" value="direito"> D
        <input type="checkbox" name="dor_facial_e" value="esquerdo"> E
      </label>
      <label>Dor ou barulho na mastigação:
        <input type="checkbox" name="barulho_mastigacao_d" value="direito"> D
        <input type="checkbox" name="barulho_mastigacao_e" value="esquerdo"> E
      </label>
      <!-- Adicione os demais sintomas conforme necessário -->
    </fieldset>

    <label>Outros sintomas / observações:</label>
    <textarea name="outros_sintomas"></textarea>

    <label>O que você achou que causou estes problemas?</label>
    <textarea name="causa_problemas"></textarea>

    <label>Há mais alguém com esses sintomas na sua família?</label>
    <select name="sintomas_familia">
      <option value="">Selecione</option>
      <option value="sim">Sim</option>
      <option value="nao">Não</option>
    </select>

    <label>Explique:</label>
    <textarea name="explicacao_sintomas_familia"></textarea>

    <label>Com que frequência ocorrem os sintomas?</label>
    <input type="text" name="frequencia_sintomas">

    <label>Quando ocorrem, quanto tempo duram?</label>
    <input type="text" name="duracao_sintomas">

    <label>Quando os sintomas são piores?</label>
    <input type="text" name="pior_momento">

    <label>O que faz os sintomas piorarem?</label>
    <textarea name="fatores_agravantes"></textarea>

    <label>O que os faz melhorar?</label>
    <textarea name="fatores_melhoradores"></textarea>
  </div>

  <div id="dores" class="tab-content">
    <fieldset>
      <legend>Efeito da dor diária</legend>
      <label>Selecione o número que representa sua dor atual:</label>
      <input type="range" name="dor_atual" min="0" max="10">
    </fieldset>

    <label>Nas últimas semanas, qual a intensidade média da dor?</label>
    <input type="number" name="intensidade_media" min="0" max="10">

    <label>Nos últimos 6 meses, como o problema afetou:</label>
    <label>Trabalho (0 = nenhuma mudança, 10 = mudança extrema)</label>
    <input type="number" name="impacto_trabalho" min="0" max="10">

    <label>Atividades sociais e recreativas:</label>
    <input type="number" name="impacto_sociais" min="0" max="10">

    <label>Atividades domésticas:</label>
    <input type="number" name="impacto_domesticas" min="0" max="10">

    <fieldset>
      <legend>Selecione o que você tem ou teve:</legend>
      <input type="checkbox" name="condicoes[]" value="artrite_reumatoide"> <span>Artrite reumatoide</span><br>
      <input type="checkbox" name="condicoes[]" value="ulcera_colite"> <span>Úlcera/colite</span><br>
      <input type="checkbox" name="condicoes[]" value="cancer"> <span>Câncer</span><br>
      <input type="checkbox" name="condicoes[]" value="gastrite"> <span>Gastrite</span><br>
      <input type="checkbox" name="condicoes[]" value="osteoartrite"> <span>Osteoartrite</span><br>
      <input type="checkbox" name="condicoes[]" value="disturbios_nervosos"> <span>Distúrbios nervosos</span><br>

    </fieldset>

    <fieldset>
      <legend>Você tem:</legend>
      <input type="checkbox" name="tem[]" value="articulacoes_rigidas"> <span>Articulações inchadas, rígidas ou doloridas</span><br>
      <input type="checkbox" name="tem[]" value="fadiga"> <span>Cansaço e constante fadiga</span><br>
      <input type="checkbox" name="tem[]" value="dores_gerais"> <span>Dores generalizadas</span><br>
      <input type="checkbox" name="tem[]" value="unhas_fragil"> <span>Unhas quebram facilmente</span><br>
      <input type="checkbox" name="tem[]" value="intolerancia_frio"> <span>Intolerância ao frio</span><br>

    </fieldset>
  </div>

  <div id="psicossocial" class="tab-content">
    <fieldset>
      <legend>Saúde Psicossocial</legend>
      <label>Seu trabalho é estressante?</label>
      <select name="trabalho_estressante">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Há estresse em casa?</label>
      <select name="estresse_em_casa">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Tem vontade de participar de atividades sociais?</label>
      <select name="atividade_social">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Tem pouco interesse pelas coisas?</label>
      <select name="pouco_interesse">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Sente-se só mesmo na companhia de outros?</label>
      <select name="sente_so">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Sente pouca esperança no futuro?</label>
      <select name="sem_esperanca">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Sente-se facilmente irritado ou contrariado?</label>
      <select name="irritabilidade">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Se considera perfeccionista?</label>
      <select name="perfeccionista">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Se considera uma pessoa tensa?</label>
      <select name="pessoa_tensa">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Houve alguma mudança de vida recente? Qual?</label>
      <input type="text" name="mudanca_vida">

      <label>Vai ou já foi a um psicólogo ou assistente social?</label>
      <select name="psicologo">
        <option value="">Selecione</option>
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label>Explique:</label>
      <textarea name="explicacao_psicologo"></textarea>
    </fieldset>
  </div>

  <div id="sono" class="tab-content">
    <fieldset>
      <legend>Características do Sono</legend>
      <input type="checkbox" name="sono[]" value="remedio_dormir"> <span>Toma remédios ou álcool para dormir</span><br>
      <input type="checkbox" name="sono[]" value="produto_natural"> <span>Produto natural para dormir</span><br>
      <input type="checkbox" name="sono[]" value="ronco"> <span>Ronca</span><br>
      <input type="checkbox" name="sono[]" value="falta_ar"> <span>Falta de ar ao dormir</span><br>
      <input type="checkbox" name="sono[]" value="respira_boca"> <span>Respira pela boca</span><br>
      <input type="checkbox" name="sono[]" value="bruxismo"> <span>Aperta os dentes à noite</span><br>
      <input type="checkbox" name="sono[]" value="mexe_pernas"> <span>Mexe as pernas enquanto dorme</span><br>
      <input type="checkbox" name="sono[]" value="acorda_cedo"> <span>Acorda muito cedo</span><br>
      <input type="checkbox" name="sono[]" value="dor_cabeca"> <span>Dor de cabeça ao acordar</span><br>
      <input type="checkbox" name="sono[]" value="exausto"> <span>Sente-se exausto ao acordar</span><br>
      <input type="checkbox" name="sono[]" value="musculos_doloridos"> <span>Músculos doloridos ao acordar</span><br>
      <input type="checkbox" name="sono[]" value="dorme_volante"> <span>Dorme ao volante</span><br>
      <input type="checkbox" name="sono[]" value="cansaco_dia"> <span>Sente-se cansado durante o dia</span><br>
      <input type="checkbox" name="sono[]" value="tv_na_cama"> <span>Lê ou vê TV na cama</span><br>
      <input type="checkbox" name="sono[]" value="dorme_bruco"> <span>Dorme de bruços</span><br>
      <input type="checkbox" name="sono[]" value="dois_travesseiros"> <span>Usa dois travesseiros</span><br>
      <input type="checkbox" name="sono[]" value="sonha_frequente"> <span>Sonha com frequência</span><br>
      <input type="checkbox" name="sono[]" value="cochila"> <span>Cochila com facilidade durante o dia</span><br>
    </fieldset>

    <label>Qualidade do sono:</label>
    <select name="qualidade_sono">
      <option value="">Selecione</option>
      <option>Muito boa</option>
      <option>Boa</option>
      <option>Ruim</option>
      <option>Muito ruim</option>
    </select>

    <label>Tempo para iniciar o sono:</label>
    <select name="tempo_sono">
      <option value="">Selecione</option>
      <option>0-15 minutos</option>
      <option>16-30 minutos</option>
      <option>31-60 minutos</option>
      <option>Mais de 60 minutos</option>
    </select>

    <label>Quantas vezes acorda à noite?</label>
    <select name="desperta_noite">
      <option value="">Selecione</option>
      <option>0-1</option>
      <option>2-3</option>
      <option>4-5</option>
      <option>Mais de 5</option>
    </select>

    <label>Horas de sono por noite:</label>
    <select name="horas_sono">
      <option value="">Selecione</option>
      <option>Mais de 8</option>
      <option>7-8</option>
      <option>5-6</option>
      <option>Menos de 5</option>
    </select>

    <label>Sente-se sonolento durante o dia?</label>
    <select name="sonolencia_dia">
      <option value="">Selecione</option>
      <option>Nunca</option>
      <option>Um pouco</option>
      <option>Bastante</option>
      <option>Sempre</option>
    </select>

    <label>Dificuldade para dormir (0 = sem problemas, 10 = não consegue dormir):</label>
    <input type="range" name="dificuldade_sono" min="0" max="10">

    <fieldset>
      <legend>Cotidiano</legend>
      <input type="radio" name="cotidiano" value="cama_dia_todo"> <span>Fica na cama o dia todo</span><br>
      <input type="radio" name="cotidiano" value="meio_dia_parado"> <span>Fica meio dia parado</span><br>
      <input type="radio" name="cotidiano" value="descansa_algumas_horas"> <span>Descansa poucas horas por dia</span><br>
      <input type="radio" name="cotidiano" value="ativo_dia_todo"> <span>É ativo o dia todo</span><br>

    </fieldset>

    <label>Você pratica exercícios físicos?</label>
    <select name="exercicio_fisico">
      <option value="">Selecione</option>
      <option>Nunca</option>
      <option>Muito pouco</option>
      <option>Pouco</option>
      <option>Regularmente</option>
      <option>Intensamente</option>
    </select>

    <label>Descreva o(s) exercício(s) e a frequência semanal:</label>
    <textarea name="descricao_exercicio"></textarea>

    <label>Atividade social:</label>
    <select name="atividade_social_nivel">
      <option value="">Selecione</option>
      <option>Nenhuma</option>
      <option>Muito pouco</option>
      <option>Moderado</option>
      <option>Ativo</option>
    </select>

    <label>Consumo diário de café:</label>
    <select name="cafe">
      <option value="">Selecione</option>
      <option>1 a 3 doses</option>
      <option>2 a 4 doses</option>
      <option>Mais de 6 doses</option>
      <option>Nunca</option>
    </select>

    <label>Álcool:</label>
    <select name="alcool">
      <option value="">Selecione</option>
      <option>Não é o caso</option>
      <option>Em festas</option>
      <option>1 a 2x ao dia</option>
      <option>3 a 4x ao dia</option>
      <option>Mais que 4x ao dia</option>
    </select>

    <label>Cigarro:</label>
    <select name="cigarro">
      <option value="">Selecione</option>
      <option>Não é o caso</option>
      <option>Em raras ocasiões</option>
      <option>Menos de 1 maço/dia</option>
      <option>Mais de 1 maço/dia</option>
    </select>
  </div>

  <div id="finalizacao" class="tab-content">
    <fieldset>
      <legend>Finalização</legend>

      <label>Quais resultados você espera desse tratamento?</label>
      <textarea name="expectativas_tratamento"></textarea>

      <label>Há alguma ação judicial em pendência relacionada ao seu problema?</label>
      <select name="acao_judicial">
        <option value="">Selecione</option>
        <option>Sim</option>
        <option>Não</option>
        <option>Possivelmente</option>
      </select>

      <label>Razão para a ação judicial:</label>
      <textarea name="motivo_acao_judicial"></textarea>

      <p>(Aqui vai um check-box) Declaro que as informações deste prontuário, por mim prestadas, são verdadeiras.</p>

      <label>Assinatura do paciente:</label>
      <input type="text" name="assinatura_paciente">

      <label>Data:</label>
      <input type="date" name="data_finalizacao">

      <p>(pensar numa solução digital para isso) rubrique todas as outras folhas do questionário.</p>
    </fieldset>
  </div>

</form>

<%- include('partials/footer') %>